body, h1, h2, h3, h4, p{
	margin:0;
	padding: 0;
}


#header{
	padding-top: 0;
	width: 100%;
	background-color: black;
	border-bottom: 5px solid red;
	/*position: fixed;*/
	/*position: relative;*/
}
.container{
	width: 70%;
	margin: auto;
}
.container h1{
	font-family: sans-serif;
	color: white;
	display: inline-block;
	padding: 10px 0;
}
#header .logo{
	color: red;
	font-family: sans-serif;
}
.navbar{
	float: right;
}
 .navbar li{
 	display: inline-block;
 }
 .navbar li a{
 	text-decoration: none;
 	font-family: sans-serif;
 	color: white;
 	font-size: 15px;
 	padding: 20px 10px;
 }
 .navbar li a:hover{
 	color: red;
 }
 .clear{
 	clear: both;
 }
 #banner{
 	height: 70vh;
 	background-image: url(../img/pic.jpg);
 	background-size: cover;
 	background-position: center;
 	padding: 100px 0;
 	text-align: center;
 }
 #banner p{
 	color: white;
 	font-size: 	30px;
 }
#banner h1{
	padding-top: 300px;
}
#newslatter{
	background-color: black;
	/*color: white;*/
	padding: 10px 0;
	display: inline-block;
	width: 100%;
	border-top: 5px solid red;
}
#newslatter .left{
	float: left;
	font-family: sans-serif;
	padding: 10px 0;
	color: white;
}

#newslatter .right{
	float: right;
	font-family: sans-serif;
	padding: 10px 0;
}
#newslatter input{
	padding: 5px;
}
#newslatter button{
	padding: 7px 15px;
	border:none;
	background-color: red;
	color: white;
	margin-left: 15px;
}
/*.course-wrapper{
	float: right;
}*/
.box{
	width: 250px;
	height: 250px;
	background-image: url(../img/icon2.jpg);
	background-repeat: no-repeat;
	float: left;
	margin-left: 40px;
}
.clear{
	clear: both;
}
.box-bottom{
	width: 250px;
	float: left;
	margin-left: 40px;
	text-align: center;
}
#footer{
	background-color: black;
	text-align: center;
	border-top: 5px solid red;
	margin-top: 8px;
}

#footer h1{
	color: white;
	padding: 15px 0;
}
.maincontent{
	width: 65%;
	float: left;
}
.sidebar{
	width: 30%;
	float: right;
}
#aboutus{
	margin: 40px 0;
	font-family: sans-serif;
}
.bgdark{
	background-color: black;
	color: white;
	padding: 15px;
}
.servicebox{
	padding: 30px;
	margin: 15px 0;
	background-color: #e5e5e5;
	border:1px solid #555;
}

label{
	display: block;
	margin: 10px 0;
}
 
 .input, textarea{
 	width: 100%;
 	padding: 5px 0;
 }
 .active{
 	color: red ! important;
 }